@import "tailwindcss";

@font-face {
  font-family: "Aeonik TRIAL";
  src: url("/fonts/AeonikTRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik TRIAL";
  src: url("/fonts/AeonikTRIAL-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik TRIAL";
  src: url("/fonts/AeonikTRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik TRIAL";
  src: url("/fonts/AeonikTRIAL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-primary: #222222;
  --color-secondary: #7b7b7b;
  --color-tertiary: #f8f8f8;
  --font-sans: "Aeonik TRIAL", ui-sans-serif, system-ui, sans-serif;
}

body {
  background: #ffffff;
  color: var(--color-primary);
  font-family: "Aeonik TRIAL", ui-sans-serif, system-ui, sans-serif;
}
